body{
    background-color: black;
    color: white;
    font-size: 24px;
}

h3{
    text-align: center;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    text-decoration: none;
    color: yellow;
}

li{
    margin: 10px 0 ;
    list-style-type: none;
    cursor: pointer;
}

.App {
    margin: 0 auto;
}

.AppBody{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Header{
    margin: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Header .HeaderLogo{
    font-size: 48px;
}

.HeaderLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header .HeaderLinks a{
    margin: 0 10px;
}

.RandomPlanet{
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.RPbody div ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.RPbody button{
    margin: 0 auto;
}


.RPbody img{
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 25%;
    border: 3px solid white;
    margin: 0 auto;
}

.RPbody li{
    cursor: auto;
}

.Wellcome{
    margin: 30px 0;
}

.WellcomeBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Wellcome>div{
    text-align: center;
}

.Wellcome a{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Wellcome a img{
    border: 3px solid white;
    max-width: 250px;
    width: auto;
    height: auto;
}

.Details li{
    cursor: auto;
}

.Details img{
    width: 150px;
    height: auto;
}

.PersDetails, .PlanDetails, .StarshDetails{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.ItemList{
    margin: 0 auto;
    min-width: 350px;
}

.ItemList li{
    text-align: left;
    margin: 15px auto;
}

.Footer{
    text-align: center;
    margin-bottom: 50px;
}
